@inherits LayoutComponentBase
@* @layout MudBlazorApp.Components.Layout.MainLayout *@
@inject NavigationManager NavigationManager

@if (HttpContext is null)
{
    <p>Loading...</p>
}
else
{
    <MudThemeProvider Theme="MyTheme" />
    <MudSnackbarProvider />

    <MudLayout>
        <MudMainContent>
            <MudContainer MaxWidth="MaxWidth.Large">
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>
}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    MudTheme MyTheme = new MudTheme()
        {
            Palette = new PaletteLight()
            {
                Primary = "#DF0024",
                Secondary = Colors.Green.Accent4,
                AppbarBackground = Colors.Red.Default,
            },
        };

    protected override void OnParametersSet()
    {
        if (HttpContext is null)
        {
            // If this code runs, we're currently rendering in interactive mode, so there is no HttpContext.
            // The identity pages need to set cookies, so they require an HttpContext. To achieve this we
            // must transition back from interactive mode to a server-rendered page.
            NavigationManager.Refresh(forceReload: true);
        }
    }
}
